.container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  background-color: #406898;
  color: #e4effd;
  padding: .5rem;
  align-items: center;
  font-size: 1.1rem;
  padding-left: 30px;
  padding-right: 30px;
}

@font-face {
  font-family: "pencil";
  src: url('../../public/Pencilized Demo.ttf');
}

.logo {
  font-family: "pencil";
  font-size: 1.5rem;
}

@media (max-width: 630px) {
  .container {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .container {
    font-size: .8rem;
  }
}

@media (max-width: 420px) {
  .container {
    font-size: .5rem;
  }
  
  .logo {
    font-size: .8rem;
  }
}


@media (max-width: 300px) {

  .logo {
    font-size: .6rem;
  }
}