html,
body {
  padding: 0;
  margin: 0;
  font-family: "louis geo";
}

@font-face {
  font-family: "louis geo";
  src: url('../public/Louis George Cafe.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
