/*Need to do button/card media query sizing*/

.main,
.homePage,
.mainLogin {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4effd;
}

@font-face {
  font-family: "pencil";
  src: url('../public/Pencilized Demo.ttf');
}

.homePageImg {
  position: relative;
  background-image: url('../public/bg5.jpeg');
  background-size: cover;
  background-position: center top;
  height: calc(45vh + 4rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -85px;
}

.searchPage {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4effd;
  padding-top: 120px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  color: #e4effd;
  background-color: #406898;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #406898;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.loginTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #406898;
}

.logoTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  color: #406898;
  font-family: "pencil";
}

.welcomeTitle,
.welcomeTitleDash {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: #406898;
}

.appExplained {
  font-size: 1.8rem;
  color: #e4effd;
  background-color: #406898;
  padding: 20px;
  border-radius: 10px;
}

.motto {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
  color: #406898;
}

.title,
.description,
.loginTitle {
  text-align: center;
}

.appDescription,
.searchDescription,
.vocabDescription {
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 500;
  color: #406898;
  text-align: left;
  max-width: 730px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  padding: 1.1rem;
  text-align: center;
  color: #e4effd;
  text-decoration: none;
  background: #779cca;
  border-radius: 10px;
  max-width: 350px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form>* {
  margin-bottom: 10px;
  width: 200px;
}

.form>button,
.otherButtons {
  cursor: pointer;
  background-color: #406898;
  transition: 0.15s ease;
  color: #e4effd;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: none;
  font-family: "louis geo";
}

.form>button:is(:hover),
.otherButtons:is(:hover),
.homeButtons:is(:hover),
.homeButtonsDash:is(:hover),
.vocabButtons:is(:hover),
.wordButton:is(:hover) {
  background-color: #4579b4
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.homeButtons,
.homeButtonsDash,
.vocabButtons,
.wordButton {
  margin: 1rem;
  padding: 1rem;
  font-size: .8rem;
  text-align: center;
  color: #e4effd;
  background: #406898;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.15s ease;
  width: 180px;
}

.alertMessage {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -10px;
}

@media (max-width: 770px) {

  .appDescription,
  .searchDescription,
  .vocabDescription {
    max-width: 550px;
  }

  .vocabDescription {
    font-size: 1.4rem;
  }

  .appExplained {
    font-size: 1.6rem;
  }

  .title,
  .loginTitle {
    font-size: 3.5rem;
  }

  .logoTitle {
    font-size: 3.5rem;
  }

  .homePage {
    min-height: 90vh;
  }

  .homePageImg {
    height: calc(40vh + 4rem);
  }
}

@media (max-width: 600px) {

  .homeButtons,
  .homeButtonsDash,
  .vocabButtons,
  .wordButton {
    padding: .5rem;
    font-size: .6rem;
    width: 150px;
  }

  .appExplained {
    font-size: 1.5rem;
    margin-top: -2px;
  }

  .homePageImg {
    height: calc(35vh + 4rem);
  }

  .appDescription,
  .searchDescription,
  .vocabDescription {
    max-width: 420px;
    font-size: 1.1rem;
  }

  .homePage {
    min-height: 90vh;
  }

  .title,
  .loginTitle {
    font-size: 2.8rem;
  }
}

@media (max-width: 450px) {

  .appDescription,
  .searchDescription {
    max-width: 350px;
    font-size: 1rem;
  }

  .welcomeTitleDash {
    margin-top: -150px;
  }

  .homeButtons,
  .vocabButtons,
  .wordButton {
    padding: .2rem;
    width: 120px;
  }

  .homeButtonsDash {
    padding: .2rem;
    width: 150px;
  }

  .appExplained {
    font-size: 1.2rem;
  }

  .alertMessage {
    font-size: .9rem;
    max-width: 300px;
  }

  .vocabDescription {
    font-size: .9rem;
  }

  .homePageImg {
    height: calc(30vh + 4rem);
  }

  .welcomeTitle,
  .welcomeTitleDash {
    font-size: 2rem;
  }

  .motto {
    font-size: 1.3rem;
  }

  .logoTitle {
    font-size: 3rem;
  }

  .title,
  .loginTitle {
    font-size: 2rem;
  }
}

@media (max-width: 370px) {

  .appDescription,
  .searchDescription {
    max-width: 280px;
    font-size: .9rem;
  }

  .searchPage {
    min-height: 80vh;
  }

  .vocabDescription {
    max-width: 270px;
    text-align: center;
  }

  .appExplained {
    font-size: 1rem;
    padding: 15px;
  }

  .mainLogin {
    padding-top: -100px;
  }

  .homeButtons {
    width: 100px;
  }

  .vocabDescription {
    font-size: .8rem;
  }

  .loginTitle {
    margin-top: -150px;
  }

  .homePageImg {
    height: calc(25vh + 4rem);
  }

  .searchDescription {
    font-size: .75rem;
  }

  .alertMessage {
    font-size: .8rem;
    max-width: 300px;
  }

  .welcomeTitle,
  .welcomeTitleDash {
    font-size: 1.8rem;
  }

  .motto {
    font-size: 1rem;
  }

  .logoTitle {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.8rem;
    margin-top: -30px;
  }

  .form>* {
    width: 150px;
  }

  .form>button {
    width: 150px;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 350px) {

  .alertMessage {
    font-size: .8rem;
    max-width: 220px;
  }
}

@media (max-width: 300px) {
  .appDescription {
    max-width: 250px;
    font-size: .9rem;
  }

  .welcomeTitleDash {
    margin-top: -200px;
  }

  .homeButtons {
    padding: .1rem;
    width: 80px;
    margin-bottom: -20px;
  }

  .searchDescription {
    max-width: 220px;
    text-align: center;
  }

  .homeButtonsDash {
    padding: .1rem;
    width: 120px;
    margin-bottom: -20px;
  }

  .appExplained {
    padding: 15px;
  }

  .homePageImg {
    height: calc(20vh + 4rem);
  }

  .title {
    font-size: 1.5rem;
  }

  .welcomeTitle,
  .welcomeTitleDash {
    font-size: 1.3rem;
  }

  .logoTitle {
    font-size: 2.2rem;
  }

  .homePage,
  .searchPage {
    min-height: 85vh;
  }

  .footer {
    padding: 25px;
    font-size: .7rem;
  }
}

@media (max-width: 260px) {

  .logoTitle {
    font-size: 2rem;
  }

  .appDescription {
    max-width: 230px;
  }
}

@media (max-width: 240px) {

  .logoTitle {
    font-size: 1.8rem;
  }

  .vocabDescription {
    max-width: 200px;
  }

  .appDescription {
    max-width: 200px;
  }

  .homeButtons {
    width: 70px;
    font-size: .5rem;
    margin-bottom: -20px;
  }

  .title {
    font-size: 1.3rem;
    margin-top: -50px;
  }

  .alertMessage {
    max-width: 220px;
  }
}


@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}